# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=subscription_tracker
DATABASE_URL=postgresql://postgres:postgres@subtracker.local:5433/subscription_tracker?schema=public

# Redis
REDIS_HOST=subtracker.local
REDIS_PORT=6379

# Backend
PORT=3001
JWT_SECRET=super-secret-jwt-key
JWT_EXPIRES_IN=1h

# Frontend
NEXT_PUBLIC_API_URL=http://subtracker.local:3000

# SMTP Configuration
SMTP_HOST=subtracker.local
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="SubTracker" <noreply@subtracker.local>
SMTP_FROM_AUTH="SubTracker" <auth@subtracker.local>
SMTP_FROM_ALERTS="SubTracker" <alerts@subtracker.local>
